<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Projekt</h1>
      <h2>A small project management app built with Ruby on Rails</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">Why is Projekt so awesome!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur pellentesque neque, vitae luctus ipsum consequat vel. Fusce nec ultricies justo. Morbi in sem eu nisl porttitor auctor viverra a metus. Integer nunc libero, elementum vel
            mauris et, consequat luctus urna. Etiam eros justo, ultricies vitae elit sodales, auctor mattis lorem.
          </p>
          <p>Integer dictum quam eget sagittis tempor.</p>
          <p>In aliquam nec est sit amet accumsan. Ut eu elit lacus. Aliquam magna justo, rutrum non condimentum et, mollis nec nibh. Integer dictum quam eget sagittis tempor.</p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <div class="subtitle is-4">
          <h4 class="subtitle is-4">Sign up today!</h4>
          <%= link_to "Sign Up", new_user_registration_path, class: 'button is-link is-outlined'%>
        </div>
      </div>
    </div>
  </section>